<h1 class="text-center">Rescent Articles</h1>
<br>
<% if @articles.empty? %>

  <h3 id="no-articles" class="text-center">No articles created yet..</h3>
<% else %>
  <% @articles.each do |a| %>
    <div class="col-md-10 col-md-offset-1">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to a.title, article_path(a.id) %>
        </div>
        <div class="article-body">
          <%= truncate(a.body, length: 100) %>
        </div>
        <div class="author">
          <small class="article-created-by">Created by: <%= a.user.email %></small>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
