<h1 class="text-center">Rescent Articles</h1>
<div class="col-md-10 col-md-offset-1">
  <% @articles.each do |a| %>
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to a.title, article_path(a.id) %>
      </div>
      <div class="article-body">
        <%= truncate(a.body, length: 300) %>
      </div>
    </div>
  <% end %>
</div>

