// index.html.erb
.article-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.4em;
  padding-left: 0.4em;
}

// show.html.erb

.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-body {
  color: grey;
  font-size: 1em;
  padding-left: 1.2em;
  margin-top: 15px;
}

.article-created-by {
  color: grey;
  padding-left: 1.5em;
}

.borders {
  border: 1px solid lightgrey;
  padding: 30px 50px 20px 50px;
}
